{% extends "!layout.html" %}

{#
    Custom Header
    Inspiriert durch: https://github.com/matplotlib/matplotlib/blob/master/doc/_templates/layout.html
#}
{% block rootrellink %}</pre>
<ul>
    <li><a href="index.html">Home</a> |</li>
    <li><a href="treffpunkt.html">Treffpunkt</a> |</li>
    <li><a href="termine.html">Termine</a> |</li>
    <li><a href="mailingliste.html">Mailingliste</a> |</li>
    <li><a href="anderegruppen.html">Andere Gruppen</a> |</li>
    <li><a href="hilfe.html">Hilfe</a> |</li>
    <li><a href="impressum.html">Kontakt</a></li>
    <li>{% endblock %}


{% block relbar1 %}

    <div style="background-color: white; text-align: left; padding: 10px 10px 15px 15px">
        <a href="{{ pathto('index') }}"><img src="{{ pathto("_static/troluglogo2.png", 1) }}" border="0" alt="TroLUG"/></a>
    </div>

    {{ super() }}
    
{% endblock %}

{%- block relbar2 %}

    {{ relbar() }}

{% endblock %}    
